.container {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-flow: column;
    justify-content: flex-start;
    padding: 0 2rem;
}

.uploader {
    width: 100%;
    height: auto;
    background-color: var(--default-color-white-2);
    box-shadow: 0 0 0.5rem 0.1rem var(--default-color-black);
    margin: 2rem 0;
    padding: 2rem 1.5rem;
    border-radius: 5px;
}
.uploader button {
    width: 240px;
    padding: 1rem 0.5rem;
    font-weight: bold;
    background: var(--primary);
    border: transparent;
    cursor: pointer;
    border-radius: 5px;
}

.status {
    width: 100%;
    height: auto;
    background-color: var(--default-color-white-2);
    box-shadow: 0 0 0.5rem 0.1rem var(--default-color-black);
    margin: 2rem 0;
    padding: 2rem 1.5rem;
    border-radius: 5px;
    color: var(--default-color-black);
}
.status table {
    width: 100%;
    height: auto;
    background: var(--default-color-black);
}
.status th {
    background: var(--primary);
    color: var(--default-color-white);
    padding: 1rem;
}
.status td {
    padding: 1rem;
    background: var(--default-color-white);
    text-align: center;
}
.status select {
    width: 130px;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    margin: 0 auto;
    background: transparent;
    border: transparent;
    outline: none;
    color: var(--default-color-black);
    font-size: 15px;
    text-align: center;
}