.container {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-flow: column;
    justify-content: flex-start;
    padding: 0 2rem;
}

.uploader {
    width: 100%;
    height: auto;
    background-color: var(--default-color-white-2);
    box-shadow: 0 0 0.5rem 0.1rem var(--default-color-black);
    margin: 2rem 0;
    padding: 2rem 1.5rem;
    border-radius: 5px;
}
.uploader button {
    width: 240px;
    padding: 1rem 0.5rem;
    font-weight: bold;
    background: var(--primary);
    border: transparent;
    cursor: pointer;
    border-radius: 5px;
}

.status {
    width: 100%;
    height: auto;
    background-color: var(--default-color-white-2);
    box-shadow: 0 0 0.5rem 0.1rem var(--default-color-black);
    margin: 2rem 0;
    padding: 2rem 1.5rem;
    border-radius: 5px;
}