.container {
    width: 0;
    height: 100vh;
    background-color: var(--primary);
    z-index: 1;
    transition: all 800ms ease;
    overflow: hidden;
    opacity: 0;
}
.open {
    width: 290px;
    opacity: 1;
}
.wrapper {
    width: var(--max-width);
    height: 100%;
    margin: 10px auto;
    flex-flow: column;
}
.options {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0.5rem 0.7rem;
    margin: 1rem 0;
}
.options button {
    padding: 0.5rem 8rem 0.5rem 1rem;
    cursor: pointer;
    background: transparent;
    border: transparent;
    border-radius: 5px;
    text-align: left;
    font-size: 0.9rem;
    margin: 5rem 0 0 0;
    transition: all 200ms ease;
}
.options button:hover {
    background: var(--default-color-white);
    color: var(--foreground);
}
.chat_history {
    width: 100%;
    height: 700px;
    padding: 0.5rem 0.1rem;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.chat_history select {
    background: transparent;
    border: transparent;
    outline: none;
    cursor: pointer;
    margin: 1rem 0;
    color: var(--adaptive-color-text);
    font-weight: 900;
}
.chat_history button {
    width: 230px;
    padding: 0.5rem 2rem 0.5rem 1rem;
    cursor: pointer;
    background: transparent;
    border: transparent;
    border-radius: 5px;
    text-align: left;
    margin: 0.2rem 0;
    font-size: 0.9rem;
    transition: all 200ms ease;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.chat_history button:hover {
    background: var(--default-color-white);
    color: var(--foreground);
}
.user_info {
    width: 100%;
    height: 15%;
    padding: 0 0.5rem;
    margin: 0 0 1rem 0;
}
.user_info figure {
    cursor: pointer;
    padding: 0.5rem 0;
    border-radius: 10px;
    background: transparent;
    transition: all 200ms ease;
}
.user_info figcaption {
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.user_info figure:hover {
    background: var(--default-color-white);
    color: var(--foreground);
}
.user_info_menu {
    position: absolute;
    bottom: 11%;
    left: 0;
    width: 270px;
    height: auto;
    padding: 0.3rem 0.7rem;
    background-color: var(--primary);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 1rem 0.1rem #000;
    flex-flow: column;
    overflow: hidden;
    transform: translateX(-120%);
    opacity: 0;
    transition: all 500ms ease;
}
.user_info_menu_open {
    transform: translate(0);
    opacity: 1;
}
.user_info_menu figcaption, .user_info_menu p {
    width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.user_info_menu button {
    width: 100%;
    height: 45px;
    text-align: start;
    padding: 0 1rem;
    border-radius: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: bold;
    border: transparent;
    background: transparent;
    transition: all 200ms ease;
}
.user_info_menu button:hover {
    background: var(--default-color-white);
    color: var(--foreground);
}
.user_info_menu span {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bolder;
    cursor: pointer;
}
@media (max-width: 1200px) {
    .container {
        position: fixed;
        left: 0;
        width: 0;
    }
    .open {
        width: 250px;
        opacity: 1;
        overflow: visible;
    }
}