:root {
	--background: #1CA9C9;
	--foreground: #171717;
	--primary: #0070F3;
	--secondary: #1CA9C9;
	/* Alternative Colors */
	--default-color-white: #e9e9e9;
	--default-color-black: #171717;

	/* Global Wrapper Width */
	--max-width: min(100%, 1200px);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */