
@use "./_button_links";

@use "./_chat_display";

@use "./_form";

@use "./_fx_effect";

@use "./_keyframes";

@use "./_plushie_talk";

@use "./_spinner";

@use "./_welcome";

.container {
    width: 100%;
    height: 100dvh;
    position: relative;
    overflow: hidden;
    color: var(--foreground);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}