.container {
    width: 100%;
    height: auto;
    background-color: var(--primary);
    position: fixed;
}
.wrapper {
    width: var(--max-width);
    margin: 10px auto;
}
.logo {
    width: 50%;
    height: 100%;
}
.image1 {
    margin: 0 0 0 30px;
}
.image2{
    margin: 0 0 0 20px;
}

.title {
    width: 30%;
}
.buttons {
    width: 50%;
    height: 100%;
}
.buttons button {
    margin: 0 30px;
    width: 120px;
    height: 40px;
    background-color: var(--background);
    border: 2px solid var(--background);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.0);
    transition: transform 500ms ease-out;
    font-size: 1rem;
    color: var(--default-color-white);
}
.buttons button:hover {
    transform: scale(1.1);
}
.buttons button:active {
    transform: scale(1.0);
}