.container {
    width: 100%;
    height: auto;
    background: transparent;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 999;
}
.logo {
    width: 50%;
    height: 100%;
}
.image1 {
    margin: 0 0 0 30px;
}
.image2{
    margin: 0 0 0 20px;
}

.title {
    width: 40%;
    height: 100%;
    font-size: clamp(0.8rem, 0.5rem + 1vw, 1rem);
}
.buttons {
    width: 50%;
    height: 100%;
}
.buttons button {
    margin: 0 30px;
    width: 130px;
    height: 40px;
    background-color: var(--primary);
    border: 2px solid var(--background);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.0);
    opacity: 1;
    transition: all 500ms ease-out;
    font-size: 1rem;
    color: var(--default-color-white);
}
.buttons button:hover {
    opacity: 0.8;
}
.buttons button:active {
    transform: scale(1.0);
}