.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.wrapper {
    width: var(--max-width);
    margin: 10px auto;
}
.center {
    width: 80%;
    height: 100%;
    flex-flow: column;
    text-align: center;
}
.center h1 {
    flex-wrap: wrap;
    gap: 10px;
    font-size: clamp(2.2rem, 1rem + 3vw, 4rem);
    margin: 0 1rem;
    opacity: var(--fade-in);
    transition: 0.8s ease-out;
}
.center h1 span {
    opacity: 0;
    transform: translateY(60px);
    display: inline-block;
    transition: all 0.8s ease;
}
.center h1[style*='--fade-in: 1'] span {
    opacity: 1;
    transform: translateY(0);
}
.center h1 span:nth-child(1) { transition-delay: 0s; }
.center h1 span:nth-child(2) { transition-delay: 0.1s; }
.center h1 span:nth-child(3) { transition-delay: 0.2s; }
.center h1 span:nth-child(4) { transition-delay: 0.3s; }

.center p {
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    font-size: clamp(0.8rem, 0.5rem + 1vw, 1.2rem);
    margin: 1rem 0;
    margin: 0 1rem;
    opacity: var(--fade-in);
    transition: 0.8s ease-out;
}
.center p span {
    opacity: 0;
    transform: translateY(40px);
    display: inline-block;
    transition: all 0.8s ease;
}
.center p[style*='--fade-in-p: 1'] span {
    opacity: 1;
    transform: translateY(0);
}
.center p span:nth-child(1) { transition-delay: 0s; }
.center p span:nth-child(2) { transition-delay: 0.1s; }
.center p span:nth-child(3) { transition-delay: 0.2s; }
.center p span:nth-child(4) { transition-delay: 0.3s; }
.center p span:nth-child(5) { transition-delay: 0.4s; }
.center p span:nth-child(6) { transition-delay: 0.5s; }
.center p span:nth-child(7) { transition-delay: 0.6s; }
.center p span:nth-child(8) { transition-delay: 0.7s; }
.center p span:nth-child(9) { transition-delay: 0.8s; }
.center p span:nth-child(10) { transition-delay: 0.9s; }
.center p span:nth-child(11) { transition-delay: 1.0s; }
.center p span:nth-child(12) { transition-delay: 1.1s; }
.center p span:nth-child(13) { transition-delay: 1.2s; }
.center p span:nth-child(14) { transition-delay: 1.3s; }
.center p span:nth-child(15) { transition-delay: 1.4s; }


.buttons {
    width: 100%;
    height: 100%;
}
.buttons button {
    margin: 1rem 2rem;
    width: 150px;
    height: 45px;
    background-color: var(--primary);
    border: 2px solid var(--background);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.0);
    opacity: var(--spand-in);
    transition: all 500ms 2s ease-out;
    font-size: 1rem;
    color: var(--default-color-white);
}