
@import url("../config/conf/css_config/config.css");

@import url("../config/conf/css_config/background_colors.css");

@import url("../config/conf/css_config/display_flex.css");

@import url("../config/conf/css_config/status.css");

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--adaptive-color-text);
	background: var(--default-color-white);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

