
.landpage {
    width: 100%;
    color: var(--default-color-white);
}

.auth_page {
    background: var(--default-color-white);
    color: var(--foreground);
    overflow: auto;
    height: auto;
    display: flex;
}

.chat_page { 
    background: var(--default-color-white);
}

.admin {
    background: var(--default-color-white); 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}