
.landpage {
	background: linear-gradient(0deg, var(--background_linear_2), var(--background_linear_1));
}

.auth_page {
    background: linear-gradient(0deg, var(--adaptive-color-2), var(--default-color-black));
}

.chat_page {
    background: var(--adaptive-color-3);
    overflow: hidden;
}