
.landpage {
    width: 100%;
    color: var(--default-color-white);
}

.auth_page {
    background: var(--default-color-white);
    color: var(--foreground);
}

.chat_page { 
    background: var(--default-color-white);
}

.chat_page_2 { 
    background: linear-gradient(90deg, var(--adaptive-color-1), var(--adaptive-color-3));
    color: var(--foreground);
}

.admin {
    background: var(--default-color-white); 
    width: max(1500px, 100%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}