
.landpage {
	background: linear-gradient(0deg, var(--primary), var(--foreground));
    position: fixed;
    width: 100%;
    z-index: -2;
}

.auth_page {
    background: linear-gradient(0deg, var(--primary), var(--foreground));
    color: var(--foreground);
}

.chat_page { 
    background: linear-gradient(90deg, var(--adaptive-color-1), var(--adaptive-color-3));
}

.admin {
    background: linear-gradient(90deg, var(--adaptive-color-1), var(--adaptive-color-3)); 
    width: max(1500px, 100%);
}