
.display_flex_center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.display_flex_right {
	display: flex;
	justify-content: right;
	align-items: center;
}

.display_flex_left {
	display: flex;
	justify-content: left;
	align-items: center;
}

.display_flex_center_column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}