
.display_flex_center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.display_flex_center_column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}