.container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.container h1 {
    text-align: center;
    padding: 1rem;
}
.header {
    width: 100%;
    padding: 0.8rem;
    position: absolute;
    backdrop-filter: blur(10px);
    top: 0;
}
.chat {
    width: 100%;
    height: 80vh;
    overflow-y: auto; 
    align-items: flex-start;
    flex: 1;
    gap: 1rem;
    margin-top: 70px;
}
.response {
    width: min(800px, 90dvw);
    height: 50vh;
    margin: 2rem;
    margin: 0 auto; 
}
.user_respones {
    width: 100%;
    height: auto;
    justify-content: right;
    margin: 2rem 0;
}
.user_respones div {
    padding: 1rem 1.5rem;
    background: var(--adaptive-color-4);
    border-radius: 10px;
}
.ai_response {
    width: 100%;
    height: auto;
    justify-content: flex-start;
}
.ask {
    width: min(700px, 90dvw);
    height: 60px;
    border-radius: 50px;
    overflow: hidden;
    padding: 0 1.2rem;
    margin: 1.3rem 3rem;
    background: var(--adaptive-color-4);
}
.ask input {
    width: 90%;
    height: 100%;
    font-size: 18px;
    background: transparent;
    border: transparent;
    outline: none;
    padding: 0 0.5rem;
}
.ask button {
    padding: 0.8rem 0.5rem;
    border-radius: 50%;
    font-weight: bold;
    border: transparent;
    color: var(--adaptive-color-4);
    background: var(--adaptive-color-text);
    cursor: pointer;
}
.ask span {
    text-align: center;
    padding: 0.5rem 1.1rem;
    font-size: 1.5rem;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}
.ask span:hover {
    background: var(--adaptive-color-3);
}