.container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    color: var(--foreground);
}
.container h1 {
    text-align: center;
    padding: 1rem;
}
.chat {
    width: 100%;
    height: 80vh;
    overflow-y: auto; 
    align-items: flex-start;
    flex: 1;
    gap: 1rem;
    margin: 70px;
}
.response {
    width: min(800px, 90dvw);
    height: auto;
    margin: 2rem;
    margin: 0 auto; 
}
.user_respones {
    width: 100%;
    height: auto;
    justify-content: right;
    margin: 2rem 0;
}
.user_respones div {
    width: 500px;
    padding: 1rem 1.5rem;
    background: var(--default-color-blue);
    border-radius: 10px;
    color: var(--default-color-white);
}
.ai_response {
    display: block;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem 1rem;
    line-height: 2.5rem;
    backdrop-filter: blur(100px);
}
.ai_response pre {
    width: 100%;
    background: var(--default-color-black);       
    color: var(--default-color-black);            
    padding: 1rem;
    border-radius: 10px;
    overflow-x: auto;
    font-family: monospace;
}
.ai_response code {
    background: none;    
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 1rem;
    color: var(--default-color-red);
}

.ai_response ol,
.ai_response ul {
    padding-left: 2rem;      
    margin: 0 0 1rem 0;       
    list-style-position: outside;
}

.ai_response li {
    margin-bottom: 0.5rem;   
    line-height: 1.6;        
}

.ai_response li {
    margin-bottom: 0.5rem; 
}
.ai_response a {
    color: var(--adaptive-color-2); 
}
.spinner_wrapper {
    justify-content: left;
    padding: 1rem 0;
}

.ask {
    width: min(800px, 90dvw);
    height: auto;
    border-radius: 50px;
    overflow: hidden;
    padding: 0 1.2rem;
    margin: 1.3rem 3rem;
    background: var(--default-color-white-2);
    box-shadow: 0 0 2px 1px var(--foreground);
    bottom: 0;
}
.plushie_talk {
    justify-content: flex-start;
}
.plushie_talk div {
    margin: 0 1rem;
    background: var(--primary);
    padding: 1rem;
    border-radius: 10px;
    color: var(--default-color-white);
}
.expandableInput {
    width: 100%;
    min-height: 20px;
    max-height: 150px;
    padding: 1.2rem 0 0 1rem;
    border: none;
    outline: none;
    background: transparent;
    resize: none;
    font-size: 16px;
    overflow-y: hidden;
    text-align: start;
    font-weight: bold;
    color: var(--foreground);
}
.ask button {
    padding: 0.8rem 0.5rem;
    border-radius: 50%;
    font-weight: bold;
    border: transparent;
    color: var(--default-color-white);
    background: var(--primary);
    cursor: pointer;
    transition: all 500ms ease;
}
.ask button:hover {
    box-shadow: 0 0 5px 1px var(--foreground);   
}
.ask span {
    text-align: center;
    padding: 0.2rem 0.8rem;
    font-size: 1.5rem;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    background: var(--primary);
    color: var(--default-color-white);
    transition: all 500ms ease;
}
.ask span:hover {
    box-shadow: 0 0 5px 1px var(--foreground);   
}
.ask span:active {
    transform: scale(0.5);
}