
@use "./_ai_response";

@use "./_chat_area";

@use './_input_bar';

@use "./_intro";

@use "./_thinking";

@use "./_type_head";

.container {
    width: 100%;
    height: 100dvh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background: var(--default-color-white);
}

