.container {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1rem;
}

.tables {
    width: 100%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 2px 1px var(--default-color-black);
    border-collapse: collapse;
    margin: 20px 0 0 0;
}
.tables th {
    padding: 1rem;
    border-bottom: 1px solid var(--default-color-black);
    background: var(--primary);
    color: var(--default-color-white);
}
.tables td {
    padding: 1rem;
    color: var(--default-color-black);
    background-color: var(--default-color-white);
    text-align: center;
}
.tables select {
    width: 130px;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    margin: 0 auto;
    background: transparent;
    border: transparent;
    color: var(--default-color-black);
    outline: none;
    font-size: 15px;
    text-align: center;
}
.search {
    padding: 2rem;   
}
.search input {
    padding: 0.5rem 1rem;
    margin: 0;
    background: transparent;
    outline: none;
    color: var(--default-color-black);
}