.container {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1rem;
}

.tables {
    width: 100%;
    height: auto;
    background-color: var(--default-color-black);
}
.tables th {
    background-color: var(--primary);
}
.tables td {
    padding: 1rem;
    color: var(--default-color-black);
    background-color: var(--default-color-white);
}
.tables select {
    width: 130px;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    margin: 0 auto;
    background: transparent;
    border: transparent;
    color: var(--default-color-black);
    outline: none;
    font-size: 15px;
    text-align: center;
}

.search input {
    padding: 0.5rem 1rem;
    margin: 10px 0;
    background: transparent;
    outline: none;
    color: var(--default-color-black);
}