:root {
	--background: linear-gradient(0deg, #cd9b13, #B15913);
	--foreground: #171717;
	--primary: #D46201;
	--secondary: #cd9b13;
	/* Alternative Colors */
	--default-color-white: #e9e9e9;
	--default-color-black: #171717;

	/* Global Wrapper Width */
	--max-width: min(100%, 1200px);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */